.HomeTitle{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    margin-top: 45px;
}
div{
    height: 100vw;
    width: 100lw;
    background: transparent;

    position: fixed;
    top: 50%;
    left: 50%;
    right: 50%;
    margin-top: -100px;
    margin-left: -200px;
}
.moreDiv{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}
.more{
    font-family: 'Times New Roman', Times, serif;
    height: 150px;
    width: 350px;
    background: transparent;

    position: fixed;
    top: 50%;
    left: 50%;
    right: 50%;
    margin-top: -250px;
    margin-left: -175px;
}
ul {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #0d323f;
    position: fixed;
    top: 0;
    width: 100%;
  }
li{
    float: left;
}
li a{
    display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover{
    background-color: #09222b;
}
.active{
    background-color: #254d5c;
}
.email{
    font-family: 'Times New Roman', Times, serif;
    height: 150px;
    width: 350px;
    background: transparent;

    position: fixed;
    top: 50%;
    left: 50%;
    right: 50%;
    margin-top: -150px;
    margin-left: -30px;
}
.phone{
    font-family: 'Times New Roman', Times, serif;
    height: 150px;
    width: 350px;
    background: transparent;

    position: fixed;
    top: 50%;
    left: 50%;
    right: 50%;
    margin-top: -25px;
    margin-left: -175px;
}
