.Title{
  color: white;
  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;
}
div{
  height: 200px;
  width: 400px;
  background: transparent;

  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -200px;
}
.FadeIn {
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  animation: fadeIn linear 5s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.fadeText{
  
  height: 150px;
  width: 350px;
  background: transparent;

  position: fixed;
  top: 50%;
  left: 50%;
  right: 50%;
  margin-top: 1px;
  margin-left: -80px;
}
.lookaround{
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  height: 150px;
  width: 350px;
  background: transparent;

  position: fixed;
  top: 50%;
  left: 50%;
  right: 50%;
  margin-top: 100px;
  margin-left: -150px;

  animation: fadeIn linear 15s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
.looklink{
    color: white;
}
a:link{
    color: white;
}
a:visited{
    color: white;
}
a:hover{
    color: white;
}
