@font-face {
    font-family: 'retro';
    src: url("../fonts/Retro\ Gaming.ttf") format('truetype');
}

.box{
    font-family: 'retro';
    color: #EFA3C8;
    
    margin: auto; 
}
#box{
    width:200px;
    height:100px;
    background:rgba(0, 0, 255, 0);
    align-items: flex-start;
    justify-content: space-between;
}

.profile{
    border-radius: 10%;
    width: 95px;
    height: 100px;
    vertical-align: middle;
}
.introtext{
    margin-top: -60px;
    margin-left: 120px;
    font-size: 90%;
}
body{
    background-color: rgb(62, 35, 65);
    display: table-cell;
    vertical-align: middle;
}
.starttext{
    margin-top: 10px;
    margin-left: 120px;
    font-size: 85%;
}
.home{
   text-align: center;
}
a:link{
    color: #EFA3C8;
}
a:visited{
    color: #EFA3C8;
}
a:hover{
    color: #EFA3C8;
    font-style: italic;
}
.blog{
    margin-left: 50px;
}
.nav{
    color: #EFA3C8;
    font-family: retro;
    text-align: center;
}
.footer{
    text-align: center;
}
html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}
